{% extends 'datatables/base.html' %}
{% block body %}
<hr style="border-top:1px solid #000; clear: both;"/>
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>address</th>
        </tr>
    </thead>
    <tbody>
        {% for member in all_members %}
        <tr>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{ member.address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}